<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="TechRobot">

  <!-- helper macro -->
  <xacro:include filename="$(find ethercat_motor_drive)/description/urdf/create_link.xacro"/>

  <xacro:create_link
      link_name="base_link"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mass="23.3444937848516"
      mesh_path="package://ethercat_motor_drive/meshes"
  />

  <xacro:create_link
      link_name="link0"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mass="8.67027571199243"
      mesh_path="package://ethercat_motor_drive/meshes"
  />
  <xacro:create_link
      link_name="link1"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mass="0.647403062770475"
      mesh_path="package://ethercat_motor_drive/meshes"
  />

  <xacro:create_link
      link_name="link2"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mass="0.647403062770475"
      mesh_path="package://ethercat_motor_drive/meshes"
  />

  <xacro:create_link
      link_name="link3"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mass="0.441881459418396"
      mesh_path="package://ethercat_motor_drive/meshes"
  />

  <xacro:create_link
      link_name="link4"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mass="0.359995634810237"
      mesh_path="package://ethercat_motor_drive/meshes"
  />

  <xacro:create_link
      link_name="link5"
      xyz_offset="0 0 0"
      rpy_offset="0 0 -0.187797428"
      mass="0.441881459418396"
      mesh_path="package://ethercat_motor_drive/meshes"
  />
  <xacro:create_link
      link_name="link6"
      xyz_offset="0 0 0"
      rpy_offset="0 0 0"
      mass="0.441881459418396"
      mesh_path="package://ethercat_motor_drive/meshes"
  />


  <!-- base_joint fixes base_link to the environment -->
  <joint name="base_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- joints - main serial chain -->
  <joint name="joint0" type="fixed">
    <parent link="base_link"/>
    <child link="link0"/>
    <origin
     xyz="0 -1 0.061584"
     rpy="0 0 0"/>
    <axis xyz="0 -1 0"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="2.5"/>
  </joint>
  <joint name="joint1" type="fixed">
    <parent link="link0"/>
    <child link="link1"/>
    <origin
      xyz="0.11 1.6149 0.75501"
      rpy="1.5708 0 1.5708" />
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="2.5"/>
  </joint>

  <joint name="joint2" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin
      xyz="0.149 -0.36401 0"
      rpy="1.680577537 0 1.5708" />
    <axis xyz="-1 0 0"/>
    <limit effort="1000.0" lower="${-pi}" upper="${pi}" velocity="2.5"/>
  </joint>

  <joint name="joint3" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin
      xyz="-0.01 0.027384 0.2485"
      rpy="-0.317649924 0 0" />
    <axis xyz="1 0 0"/>
    <limit effort="1000.0" lower="${-pi}" upper="${pi}" velocity="2.5"/>
  </joint>

  <joint name="joint4" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin
      xyz="-0.0735 -0.036002 0.17075"
      rpy="0 -0.20781 1.5708" />
    <axis xyz="0 0 -1"/>
    <limit effort="1000.0" lower="${-pi}" upper="${pi}" velocity="2.5"/>
  </joint>

  <joint name="joint5" type="revolute">
    <parent link="link4"/>
    <child link="link5"/>
    <origin
      xyz="0 -0.0735 0.0645"
      rpy="1.5708 0 -3.1416" />
    <axis xyz="0 0 -1"/>
    <limit effort="1000.0" lower="${-pi}" upper="${pi}" velocity="2.5"/>
  </joint>

  <joint name="joint6" type="fixed">
    <parent link="link5"/>
    <child link="link6"/>
    <origin
      xyz="0.0035379 0.14737 0.2235"
      rpy="1.5708 0 -3.141497428" />
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-1" upper="1" velocity="2.5"/>
  </joint>


</xacro:macro>

</robot>
